<div id="main">
    <Navbar></Navbar>
    <div class="banners">
        <div id="banners" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/img/banners_carrosel/banner_quem_somos.png" class="d-block w-100">
                </div>

            </div>
        </div>
    </div>
    <div id="_banner_02">
        <div class="pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 c-purple">
                        <h2 class="fw-700 text-center">
                            PRAZER, SOMOS A FREELASER!
                        </h2>
                        <p class="text-left">
                            Estamos no mercado de depilação a laser desde 2018 e nossa experiência vai além deste tempo, trazendo em nossa bagagem a excelência em servir! Somos experts em tratamentos estéticos, com a missão de democratizá-los <strong>para todos os tipos de pele</strong>,
                            prezando sempre pela máxima qualidade, segurança, eficácia dos resultados, satisfação e felicidade para nossas(os) clientes!<br><br>Os pilares que nos norteiam estão baseados em respeito, liberdade, leveza, amor, na livre decisão
                            de ser e de escolher e na constante transformação que passamos nesta vida.<br><br> Aqui na Freelaser Clinic®, acreditamos que estética, cuidado e bem-estar são essenciais para manter a nossa autoestima e principalmente a nossa
                            saúde mental e corporal. Então, sempre buscaremos a excelência para contribuir com o êxito destes objetivos pelas(os) nossas(os) clientes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters c-purple">
                <div class="col-6">
                    <img class="img-fluid w-100" src="../../assets/img/pg_quem_somos/mao_esquerda.png">
                </div>
                <div class="col-6"></div>
                <div class="col-12 d-none d-md-block" id="manifesto">
                    <h1 style="font-size: 7vw;" class="fw-700 text-center arizonia">
                        Manifesto Freelaser
                    </h1>
                </div>
                <div class="col-12 d-md-none d-sm-block">
                    <h1 style="font-size: 12vw;" class="fw-700 text-center arizonia">
                        Manifesto Freelaser
                    </h1>
                </div>
                <div class="col-6"></div>
                <div class="col-6">
                    <img class="img-fluid w-100" src="../../assets/img/pg_quem_somos/mao_direita.png">
                </div>
                <div class="col-12 d-none d-md-block" style="margin-top: -28rem;">
                    <img class="img-fluid w-100" src="../../assets/img/pg_quem_somos/img_birds.png">
                </div>
                <div class="col-12 d-md-none d-sm-block" style="margin-top: -7rem;">
                    <img class="img-fluid w-100" src="../../assets/img/pg_quem_somos/img_birds.png">
                </div>
            </div>

            <div class="container mt-5">
                <div class="row c-purple">
                    <div class="col-12 mb-3">
                        <p class="text-left">
                            Muitas pessoas acordam pela manhã e entregam-se às suas rotinas cotidianas, cheias de obrigações e coisas tão indispensáveis.<br><br>O tempo vai passando e muitos percebem que a maior parte do tempo estamos conectados com o
                            externo, com aquilo que ocorre fora de nós e está sempre atraindo nossa atenção e drenando nossa energia.<br><br>E nessa correria imensa entre casa, trabalho, estudos e relacionamentos, paramos e nos questionamos:<br><br>Qual
                            é a nossa posição nesse cenário? Qual o nosso propósito? Somos nós os protagonistas das nossas vidas?<br><br>Ou somos aquelas que simplesmente seguem a correnteza?<br><br>Para protagonizar e ser uma pessoa dona de si mesma,
                            é preciso olhar para dentro de si, amar-se, cuidar-se e acima de tudo escolher estar no topo da própria vida! <strong>Ser livre!</strong><br><br>Por isso, nossa marca não é sobre procedimentos à laser ou tratamentos estéticos,
                            mas sim sobre <strong>levar pessoas ao topo e à liberdade,</strong> contribuindo com sua felicidade através da elevação da autoestima, do amor-próprio e do orgulho de si própria(o). Este é o objetivo e mantra da Freelaser!
                        </p>
                    </div>
                    <div class="col-12 mb-3">
                        <hr style="border-width:.15rem;margin: 0;width: 90%;margin-left: 5%;">
                    </div>
                    <div class="col-12" id="proposito">
                        <h2 class="fw-700 text-center">
                            NOSSO PROPÓSITO
                        </h2>
                        <p class="text-left">
                            Nosso propósito é ajudar você a alcançar os seus objetivos de cuidado, bem-estar e saúde, oferecendo diversos serviços e tratamentos num só lugar, de forma <strong>simples, acessível e descomplicada,</strong> com as melhores
                            tecnologias, o melhor serviço e melhor equipe, que sempre estará 100% engajada para atender às necessidades das(os) nossas(os) clientes, que são a razão da nossa existência.<br><br><strong>
                                Somos incansáveis pela valorização das pessoas,
                                respeito a elas e suas escolhas.
                            </strong>
                            <br><br>Com este DNA, nossa essência e marca nasceram baseadas integralmente no conceito pleno de sermos <strong>livres.</strong><br><br>Liberdade para ser você, ser feliz, de escolher, de decidir, de ser protagonista, para
                            ser o que você quiser! <br>Queremos você com a gente. Vamos juntos? <br>
                        </p>
                        <div class="w-100 text-center d-none d-md-block">
                            <router-link class="btn btn-orange pl-5 pr-5 mb-2 mt-2" to="./agendar">
                                Vem ser FREE!
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <img class="img-fluid w-100" src="../../assets/img/pg_quem_somos/img_diversidade.png">
            </div>
        </div>
        <!-- <img src="../../assets/img/pg_quem_somos/banner_02.png" class="w-100"> -->
        <div id="dizeres" class="pt-5 pb-5">
            <div class="container ">
                <p class="c-white">
                    Com toda a crença que temos na liberdade e no respeito, que são partes fundamentais da nossa essência, entendemos que estas duas palavras bastam para nortear as relações humanas e tornar nosso mundo melhor! <br><br>Assim, aqui na Freelaser
                    Clinic, temos a missão de democratizar os serviços estéticos e tratamentos a laser, oferecendo as melhores e mais eficazes tecnologias <strong>PARA TODOS OS TIPOS DE PELES E PELOS*!</strong><br><br> Tudo num lugar único, pensado exclusivamente
                    para que possa escolher da melhor forma o que se encaixa nos seus objetivos e propósitos, do seu jeito e no seu tempo.<br><br>
                    <small>
                        (*) Exceto pelos brancos, pois ainda não existe tecnologia que remova este tipo de pelo,
                        já que é necessária a presença de melanina na raiz do pelo para que haja a absorção da
                        energia do laser, fazendo com que o bulbo seja destruído.  
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div id="_banner_03" style="place-content: center;">
        <div class="text-center pt-3 pb-3 c-purple">
            <div id="btn_card" class="">
                <div class="d-none d-md-block container">
                    <router-link to="./agendar">
                        <img class="img-fluid pt-5 pb-5" src="../../assets/img/pg_quem_somos/btn_vouncher.png">
                    </router-link>
                </div>
                <div class="d-md-none d-sm-block">
                    <h2 class="fw-700 text-center">
                        RESGATE SEU<br>VOUCHER
                    </h2>
                    <h4>
                        E CONHEÇA NOSSAS LOJAS
                    </h4>
                    <div>
                        <button class="btn btn-orange pl-5 pr-5 mb-2 mt-2 ">Vem ser FREE!</button>
                    </div>
                    <div>
                        <img src="../../assets/img/pg_quem_somos/banner_voucnher_mb.png" class="img-fluid w-100">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`#`"></WhatsappIcon>

</div>