<div id="main">
    <Navbar></Navbar>
    <div class="banners">
        <div id="banners" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/img/banners_carrosel/banner_quem_somos.png" class="d-block w-100">
                </div>

            </div>
        </div>
    </div>
    <div id="_banner_02">
        <img src="../../assets/img/pg_quem_somos/banner_02.png" class="w-100">
        <div id="dizeres" class="pt-5 pb-5">
            <div class="container text-center">
                <p class="c-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore itation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                </p>
            </div>
        </div>
    </div>
    <div id="_banner_03">
        <div class="container text-center pt-3 pb-3">
            <div id="btn_card">
                <a>
                    <img class="img-fluid pt-5 pb-5" src="../../assets/img/pg_quem_somos/btn_vouncher.png">
                </a>
            </div>
        </div>
    </div>
    <Footer></Footer>
</div>