<div id="main">
    <Navbar></Navbar>
    <CarroselBanner :imgs_pc="imgs_pc" :imgs_mb="imgs_mb" :slides="false"></CarroselBanner>
    <div id="__banner_02" class="pt-5">
        <div id="conteudo" class="container">
            <h5 class="m-0 mb-2 mt-2 text-center">O QUE É DEPILAÇÃO A LASER?</h5>
            <p id="" class="text-left m-0 p-0 mb-4">
                A depilação a laser é um procedimento de eliminação dos pelos através de um equipamento que emite luz de alta intensidade, utilizando mecanismo de fototermólise seletiva, atuando na destruição do folículo piloso. <br><br>O tratamento consiste
                basicamente na aplicação do laser sobre a estrutura do pelo, causando uma microlesão localizada e controlada.
            </p>

            <h5 class="m-0 mb-4 mt-2 text-center">DEPILAÇÃO FEMININA</h5>
            <p id=" text-left m-0 p-0 mb-4">
                Cada dia mais, as mulheres assumem diversos papéis na sua rotina diária, se ocupando com múltiplas funções. Reservar um tempo para se cuidar, na correria do dia a dia, tem sido um desafio. A depilação a laser é uma aliada, pois te proporcionará a liberdade
                dos pelos e de estar sempre pronta, com uma pele lisinha, sem pelos e manchas que outros métodos podem causar.<br><br> Entendemos que ter pelos é uma escolha e respeitamos a sua decisão, mas se a sua opção for se livrar
                dos pelos, conte conosco!<br><br> Na Freelaser você encontra as melhores, mais eficazes e confortáveis tecnologias existentes no mercado.
            </p>
        </div>
        <h4 class="m-0 mt-5 mb-2">
            OS BENEFÍCIOS DA DEPILAÇÃO A LASER
        </h4>
        <div class="container d-none d-md-block " id="textos-02 ">
            <div class="container py-2 mt-4 mb-4 ">
                <div class="row no-gutters ">
                    <div class="col-sm ">
                    </div>
                    <div class="col-sm-1 text-center flex-column d-none d-sm-flex ">
                        <div class="row h-50 ">
                            <div class="col ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                        <h5 class="m-2 ">
                            <span style="margin-left: -1rem;" class="badge badge-pill bg-light border ">&nbsp;</span>
                        </h5>
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-sm py-2 ">
                        <div class=" ">
                            <div class="card-body ">
                                <h5 class="card-title " style="margin-top: 5rem;">MÉTODO PRATICAMENTE INDOLOR E COM MAIOR CONFORTO</h5>
                                <p class="card-text" style="font-size:1.2rem">Nossas tecnologias possuem ponteiras resfriadas, proporcionando muito conforto.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters ">
                    <div class="col-sm py-2 ">
                        <div class=" ">
                            <div class="card-body ">
                                <h5 class="card-title ">SEGURANÇA NO PROCEDIMENTO</h5>
                                <p class="card-text ">Nossa equipe técnica é composta exclusivamente de profissionais de fisioterapia, biomedicina e estética, habilitadas e recicladas frequentemente nas mais seguras tecnologias do mercado.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 text-center flex-column d-none d-sm-flex ">
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                        <h5 class="m-2 ">
                            <span style="margin-left: -1rem;" class="badge badge-pill bg-light border ">&nbsp;</span>
                        </h5>
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-sm ">
                    </div>
                </div>
                <div class="row no-gutters ">
                    <div class="col-sm ">
                    </div>
                    <div class="col-sm-1 text-center flex-column d-none d-sm-flex ">
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                        <h5 class="m-2 ">
                            <span style="margin-left: -1rem;" class="badge badge-pill bg-light border ">&nbsp;</span>
                        </h5>
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-sm py-2 ">
                        <div class=" ">
                            <div class="card-body ">
                                <h5 class="card-title ">CUSTO X BENEFÍCIO</h5>
                                <p class="card-text ">A depilação a laser é um método de eliminação dos pelos que tem caráter permanente, tornando muito vantajosa a relação de custo quando comparados com o uso de lâminas e cera na periodicidade necessária para não ter pelos
                                    aparentes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters ">
                    <div class="col-sm py-2 ">
                        <div class=" ">
                            <div class="card-body ">
                                <h5 class="card-title ">MAIS TEMPO LIVRE PARA FAZER O QUE REALMENTE IMPORTA</h5>
                                <p class="card-text ">Eliminar os pelos se tornou sinônimo de praticidade e liberdade, liberando seu tempo para outras atividades e te deixando sempre pronta (o) para tudo!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 text-center flex-column d-none d-sm-flex ">
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                        <h5 class="m-2 ">
                            <span style="margin-left: -1rem;" class="badge badge-pill bg-light border ">&nbsp;</span>
                        </h5>
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-sm ">
                    </div>
                </div>
                <div class="row no-gutters ">
                    <div class="col-sm ">
                    </div>
                    <div class="col-sm-1 text-center flex-column d-none d-sm-flex ">
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                        <h5 class="m-2 ">
                            <span style="margin-left: -1rem;" class="badge badge-pill bg-light border ">&nbsp;</span>
                        </h5>
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-sm py-2 ">
                        <div class=" ">
                            <div class="card-body ">
                                <h5 class="card-title">REDUÇÃO DA FOLICULITE</h5>
                                <p class="card-text" style="font-size:1.2rem">O único método eficaz para acabar com a foliculite é eliminando os pelos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters ">
                    <div class="col-sm py-2 ">
                        <div class=" ">
                            <div class="card-body ">
                                <h5 class="card-title ">MELHORA DO ASPECTO DA PELE</h5>
                                <p class="card-text ">A eliminação dos pelos acaba com os pelos encravados (foliculite) e manchas na pele ocasionadas por outros métodos de depilação, que irritam e machucam a pele.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 text-center flex-column d-none d-sm-flex ">
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                        <h5 class="m-2 ">
                            <span style="margin-left: -1rem;" class="badge badge-pill bg-light border ">&nbsp;</span>
                        </h5>
                        <div class="row h-50 ">
                            <div class="col border-right ">&nbsp;</div>
                            <div class="col ">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-sm ">
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-sm-block d-md-none pt-5">
            <div class="container row">
                <div class="col-12 text-right " style="border-right: 3px solid #dee2e6!important; ">
                    <div class="">
                        <h6 class="title">
                            MÉTODO PRATICAMENTE INDOLOR E COM MAIOR CONFORTO
                        </h6>
                        <p class="py-0 my-0 ">
                            Nossas tecnologias possuem ponteiras resfriadas, proporcionando muito conforto.
                        </p>
                    </div>
                </div>
                <div class="col-12 text-right " style="border-right: 3px solid #dee2e6!important; ">
                    <div class="mt-5 ">
                        <h6 class="title ">
                            SEGURANÇA NO PROCEDIMENTO
                        </h6>
                        <p class="py-0 my-0 ">
                            Nossa equipe técnica é composta exclusivamente de profissionais de fisioterapia, biomedicina e estética, habilitadas e recicladas frequentemente nas mais seguras tecnologias do mercado.
                        </p>
                    </div>
                </div>
                <div class="col-12 text-right " style="border-right: 3px solid #dee2e6!important; ">
                    <div class="mt-5 ">
                        <h6 class="title ">
                            CUSTO X BENEFÍCIO
                        </h6>
                        <p class="py-0 my-0 ">
                            A depilação a laser é um método de eliminação dos pelos que tem caráter permanente, tornando muito vantajosa a relação de custo quando comparados com o uso de lâminas e cera na periodicidade necessária para não ter pelos aparentes.
                        </p>
                    </div>
                </div>
                <div class="col-12 text-right " style="border-right: 3px solid #dee2e6!important; ">
                    <div class="mt-5 ">
                        <h6 class="title ">
                            MAIS TEMPO LIVRE PARA FAZER O QUE REALMENTE IMPORTA
                        </h6>
                        <p class="py-0 my-0 ">
                            Eliminar os pelos se tornou sinônimo de praticidade e liberdade, liberando seu tempo para outras atividades e te deixando sempre pronta (o) para tudo!
                        </p>
                    </div>
                </div>
                <div class="col-12 text-right " style="border-right: 3px solid #dee2e6!important; ">
                    <div class="mt-5 ">
                        <h6 class="title ">
                            REDUÇÃO DA FOLICULITE
                        </h6>
                        <p class="py-0 my-0 ">
                            O único método eficaz para acabar com a foliculite é eliminando os pelos.
                        </p>
                    </div>
                </div>
                <div class="col-12 text-right " style="border-right: 3px solid #dee2e6!important; ">
                    <div class="mt-5 ">
                        <h6 class="title ">
                            MELHORA DO ASPECTO DA PELE
                        </h6>
                        <p class="py-0 my-0 ">
                            A eliminação dos pelos acaba com os pelos encravados (foliculite) e manchas na pele ocasionadas por outros métodos de depilação, que irritam e machucam a pele.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <h5 class=" pt-5 text-center" style="margin-top:7rem; margin-bottom: 5rem;">CONHEÇA AS ÁREAS PARA DEPILAÇÃO FEMININA</h5>
        <CardCaracteristicas :card_props="card_data "></CardCaracteristicas>
        <div class="container pt-5 text-center ">
            <h3>ESTÁ PRONTA PARA AS SUAS</h3>
            <h1 style="font-size: 4vw; ">2 SESSÕES GRÁTIS?</h1>
            <router-link class="btn btn-orange pl-5 pr-5 mt-3 " to="./agendar">
                QUERO SER FREE!
            </router-link>
        </div>
    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?l=pt&phone=5571999700077&text=Ol%C3%A1!%20Visitei%20o%20site%20da%20Freelaser%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es` "></WhatsappIcon>
</div>