<div class="container mt-4 mb-4" id="cards_bnc">
    <div v-for="(data, i) in card_props" class="cards-bonecas row">
        <div class="col-4 align-self-center d-none d-md-block">
            <div class="carcteristica" v-for="(carc,b) in data.caracteristicas">
                <button class="btn btn-purple btn-block mt-2 mb-2"> {{ carc }} </button>
            </div>
        </div>

        <div class="col-8 d-none d-md-block">
            <img class="img-fluid w-100" :src="getImgUrl(data.img)">
        </div>

        <div class="col-12 d-md-none d-sm-block mt-2 mb-2">
            <button class="btn btn-orange btn-block">{{ data.titulo }}</button>
        </div>
        <div class="col-12 d-md-none d-sm-block">
            <img class="img-fluid w-100" :src="getImgUrl(data.img)">
        </div>
        <div class="col-12 d-md-none d-sm-block">
            <button v-for="(carc,b) in data.caracteristicas" class="btn btn-purple mt-2 mb-2 ml-2 mr-2"> {{ carc }} </button>
        </div>
    </div>
    <div class="col-12"></div>
</div>
</div>