<div class="container mt-4 mb-4" id="cards_bnc">
    <div v-for="(data, i) in card_props" class="cards-bonecas row">
        <div class="col-5 align-self-center d-none d-md-block">
            <BotoesCaracteristicas :tipo="`web`" :caracteristicas="data.caracteristicas"> </BotoesCaracteristicas>
        </div>
        <div class="col-lg-1 col-sm-6 text-center m-0 d-none d-md-block" style="position: relative;">
            <hr style="margin: 0;width: 3px; height: 80%; background-color: #990099; position: absolute; left: 50%; top: 10%;">
        </div>
        <div class="col-6 d-none d-md-block" style="align-self: end;">
            <img class="img-fluid w-100" :src="getImgUrl(data.img)">
        </div>
        <!-- Mobile -->
        <div class="col-12 d-md-none d-sm-block mt-2 mb-2">
            <button class="btn btn-orange btn-block">{{ data.titulo }}</button>
        </div>
        <div class="col-12 d-md-none d-sm-block">
            <img class="img-fluid w-100" :src="getImgUrl(data.img)">
        </div>
        <div class="col-12 d-md-none d-sm-block">
            <BotoesCaracteristicas :tipo="`mobile`" :caracteristicas="data.caracteristicas"> </BotoesCaracteristicas>

            <!-- <button v-for="(carc,b) in data.caracteristicas" class="btn btn-purple mt-2 mb-2 ml-2 mr-2"> {{ carc }} </button> -->
        </div>
    </div>
</div>