<div class="container-fluid w-100">
    <nav class="nav navbar navbar-expand-lg navbar-light justify-content-center" style="flex-direction: column;">
        <div class="container">
            <div class="w-100">
                <div class="fixed-itens">
                    <form class="form-inline my-2 my-lg-0 ">
                        <a href="#" class="navbar-brand mx-auto">
                            <img src="../../assets/img/logo.png" width="200px">
                        </a>
                        <div class="d-flex" id="menu_wp" style="align-self: center;">
                            <a target="_blank" style="align-self: center;" href="https://api.whatsapp.com/send?phone=557199700077" class="my-2 my-sm-0 ml-5 mr-5 pointer">
                                <img src="../../assets/img/icons/whatsapp.png" class="icon">
                            </a>
                            <!-- <button class="navbar-toggler d-block" type="button" data-toggle="collapse" data-target="#itens_menu" aria-controls="itens_menu" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="w-100">
                <div class="collapse" id="itens_menu">
                    <div class="navbar-nav mr-auto mt-2 text-center">
                        <div class="nav-item">
                            <router-link class="nav-link" to="#">
                                A FREELASER
                            </router-link>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="nav-link-d dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false" id="depilacao_drop">DEPILAÇÃO A LASER</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <router-link class="dropdown-item" to="#">
                                    Depilação Feminina
                                </router-link>
                                <div class="dropdown-divider"></div>
                                <router-link class="dropdown-item" to="#">
                                    Depilação Masculina
                                </router-link>
                            </div>
                        </div>
                        <div class="nav-item">
                            <router-link class="nav-link" to="#">
                                ESTÉTICA
                            </router-link>
                        </div>

                        <div class="nav-item">
                            <router-link class="nav-link" to="#">
                                ONDE ESTAMOS
                            </router-link>
                        </div>

                        <div class="nav-item">
                            <router-link class="nav-link" to="#">
                                BLOG DA FREE
                            </router-link>
                        </div>
                        <div class="nav-item">
                            <router-link class="nav-link" to="#">
                                PERGUNTAS FREQUENTES
                            </router-link>
                        </div>
                        <div class="nav-item">
                            <router-link class="nav-link" to="#">
                                AGENDE SUA AVALIAÇÃO
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </nav>
</div>