<div class="container-fluid w-100">
    <nav class="nav navbar navbar-expand-lg navbar-light justify-content-center" style="flex-direction: column;">
        <div class="container">
            <div class="w-100 d-md-none d-sm-block">
                <div class="row">
                    <div class="col-8">
                        <a class="navbar-brand mx-auto" href="http://freelaser.com.br/#/" target="_blank">
                            <img src="../../assets/img/logo.png" width="200px">
                        </a>
                    </div>
                    <div class="col-4">
                        <div class="d-flex" id="menu_wp" style="align-self: center;">
                            <a target="_blank" style="align-self: center;" href="https://api.whatsapp.com/send?l=pt&phone=5571999700077&text=Ol%C3%A1!%20Visitei%20o%20site%20da%20Freelaser%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es" class="my-2 my-sm-0 ml-5 mr-5 pointer">
                                <img src="../../assets/img/icons/whatsapp.png" class="icon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 d-none d-md-block">
                <div class="fixed-itens">
                    <form class="form-inline my-2 my-lg-0 ">
                        <a href="http://freelaser.com.br/#/" target="_blank" class="navbar-brand mx-auto">
                            <img src="../../assets/img/logo.png" width="200px">
                        </a>
                        <div class="d-flex" id="menu_wp" style="align-self: center;">
                            <a target="_blank" style="align-self: center;" href="https://api.whatsapp.com/send?l=pt&phone=5571999700077&text=Ol%C3%A1!%20Visitei%20o%20site%20da%20Freelaser%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es`" class="my-2 my-sm-0 ml-5 mr-5 pointer">
                                <img src="../../assets/img/icons/whatsapp.png" class="icon">
                            </a>
                            <!-- <button class="navbar-toggler d-block" type="button" data-toggle="collapse" data-target="#itens_menu" aria-controls="itens_menu" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>