<div id="main">
    <Navbar></Navbar>
    <div id="relatorios" class="pt-2 container">
        <h5>Baixar relatório</h5>
        <hr>
        <div class="mt-2 mb-2 ">
            <form v-on:submit.prevent="baixarRelatorio">
                <div class="row">
                    <div class="col-6">
                        <select required class="form-control" id="select_relatorio">
                            <option selected disabled>Selecione um relatório</option>
                            <option value="Lead">Lead</option>
                            <option value="Agendamento">Agendamento</option>
                            <option value="Fale_Conosco">Fale Conosco</option>
                        </select>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-12">
                        <hr class="mt-3 mb-3">
                    </div>
                    <div class="col-6">
                        <label> Data Inicial</label>
                        <input class="form-control" type="date" id="ini" :max="hoje" required>
                    </div>
                    <div class="col-6">
                        <label> Data Final</label>
                        <input class="form-control" id="fim" :max="hoje" type="date" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2 mb-2">Baixar relatório</button>
            </form>

        </div>
    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?l=pt&phone=5571999700077&text=Ol%C3%A1!%20Visitei%20o%20site%20da%20Freelaser%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es` "></WhatsappIcon>
</div>