<div>
    <h2 class="c-white texto-chamada mb-5"><strong>JÁ SOU FREE</strong></h2>
    <label class="c-white">Email</label>
    <input class="form-control form-bg-transp" type="text" id="login_us">
    <label class="c-white mt-2">Senha</label>
    <input class="form-control form-bg-transp" type="text" id="login_us">
    <div class="d-flex flex-inline mt-3 align-itens-center">
        <a href="#" class="c-white"><small>Esqueci minha senha</small></a>
        <button class="btn btn-purple pl-5 pr-5 ml-auto">Entrar</button>
    </div>
</div>