@media (min-width: 600px) {
    .card-col {
        width: 20% !important;
        flex: 0 0 20%
    }
    .card {
        min-height: 24rem;
    }
}

#card-title {
    font-weight: 600;
}

#card-text {
    font-size: .9rem;
    font-weight: 500;
}

.card img {
    width: 50%;
}

.card {
    color: #990099 !important;
    background: #fdebf4 !important;
    /* background: linear-gradient(165.49deg, #FFFDFE 11.09%, #F7DBE8 87.1%) !important; */
    border: solid 2px;
    border-radius: 1rem;
    transition: all .2s ease-in-out;
}

.card:hover {
    background: rgb(255, 249, 252) !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: -0.5rem !important;
}