<div id="main">
    <Navbar></Navbar>
    <CarroselBanner :imgs_pc="imgs_pc" :imgs_mb="imgs_mb" :slides="false"></CarroselBanner>
    <div id="onde_estamos">
        <div class="container pt-5 c-white">
            <div class="row text-center align-self-center" style="place-content:center;">
                <div class="col-lg-10">
                    <div class="row text-center align-itens-center">
                        <div class="col-lg-2 col-sm-12">
                            <img class="img-fluid w-100 d-none d-md-block" src="../../assets/img/Onde_estamos/localizacao.png">
                            <img class="img-fluid d-md-none d-sm-block" style="width: 50%;" src="../../assets/img/Onde_estamos/localizacao.png">
                        </div>
                        <div class="col-lg-10 col-sm-12 c-white text-left align-self-center d-none d-md-block">
                            <h5 class="fw-700">ENCONTRE A UNIDADE FREELASER CLINIC® MAIS PERTO DE VOCÊ.</h5>
                            <p class="text-justify">Temos um compromisso com você e pensando nisto, desenvolvemos a arquitetura das nossas unidades com o objetivo de oferecer um ambiente agradável, aconchegante e alegre, com o melhor atendimento e tecnologia.<br><br>Venha conhecer
                                as nossas unidades, que estão atualmente nos melhores shoppings e tenha a liberdade para fazer as suas sessões em qualquer uma delas ou a melhor que lhe convier durante o seu tratamento.<br><br>Ah, estamos expansão da nossa
                                rede e logo estaremos em diversas regiões do País!</p>
                        </div>
                        <div class="col-lg-10 col-sm-12 c-white text-center align-self-center d-md-none d-sm-block">
                            <h3 class="fw-700">ENCONTRE A UNIDADE FREELASER CLINIC® MAIS PERTO DE VOCÊ.</h3>
                            <p class="text-justify">Temos um compromisso com você e pensando nisto, desenvolvemos a arquitetura das nossas unidades com o objetivo de oferecer um ambiente agradável, aconchegante e alegre, com o melhor atendimento e tecnologia.<br>Venha conhecer
                                as nossas unidades, que estão atualmente nos melhores shoppings e tenha a liberdade para fazer as suas sessões em qualquer uma delas ou a melhor que lhe convier durante o seu tratamento.<br>Ah, estamos expansão da nossa
                                rede e logo estaremos em diversas regiões do País!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <Localizacao :infomarcoes="localizacoes"></Localizacao>
        </div>
        <div class="container text-center pt-5 pb-5">
            <router-link class="c-pointer w-100 text-center d-flex " style="place-content: center;" to="./lead">
                <img class="img-fluid d-none d-md-block" width="50%" src="../../assets/img/Onde_estamos/btn_vouncher.png">
                <img class="img-fluid d-md-none d-sm-block" width="100%" src="../../assets/img/Onde_estamos/btn_vouncher.png">
            </router-link>
        </div>
    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?phone=557199700077`"></WhatsappIcon>
</div>