<div id="localizacoes">
    <div class="row pt-5 pb-5" v-for="(info,i) in infomarcoes">
        <div v-if="check_pos(i)" class="col-lg-4 align-self-center d-none d-md-block">
            <img class="img-fluid w-100" src="../../assets/img/Onde_estamos/f_esquerda.png">
        </div>
        <div v-else class="col-lg-4 align-self-center d-none d-md-block">
            <img class="img-fluid w-100" :src="getImgUrl(info.img)">
        </div>
        <div class="col-lg-4 align-self-center mt-3 d-none d-md-block">
            <div class="row place-content-center" v-if="check_pos(i)">
                <div class="col-8">
                    <h4 class="fw-700 c-white">UNIDADE</h4>
                    <h2 class="fw-700 c-white" style="text-transform: uppercase;"> {{info.localizacao}}</h2>
                </div>
                <div class="col-4"></div>
                <div class="col-2 mb-5">
                    <img class="img-fluid w-100" src="../../assets/img/Onde_estamos/horario_ic.png">
                </div>
                <div class="col-10">
                    <p class="c-orange m-0 p-0 fw-600">HORÁRIO DE FUNCIONAMENTO</p>
                    <p class="c-white m-0 p-0">{{ info.horario }}</p>
                </div>
                <div class="col-2 mb-5">
                    <img class="img-fluid w-100" src="../../assets/img/Onde_estamos/telefone_ic.png">
                </div>
                <div class="col-10 ">
                    <p class="c-orange m-0 p-0 fw-600">CENTRAL DE RELACIONAMENTO</p>
                    <a :href="`tel:${info.telefone}`" style="text-decoration: none;">
                        <p class="c-white m-0 p-0">{{ info.telefone }}</p>
                    </a>
                </div>
                <div class="col-2 mb-5">
                    <img class="img-fluid w-100" src="../../assets/img/Onde_estamos/whatsapp_ic.png">
                </div>
                <div class="col-10">
                    <a target="_blank" class="m-0 p-0 nav-link" :href="info.link_whats_web">
                        <p class="c-orange m-0 p-0 fw-600">CENTRAL WHATSAPP</p>
                        <p class="c-white m-0 p-0">{{ info.whatsapp }}</p>
                    </a>
                </div>
                <div class="col-2 align-self-center">
                    <img class="img-fluid w-100" src="../../assets/img/Onde_estamos/localizacao_ic.png">
                </div>
                <div class="col-10">
                    <a target="_blank" class="m-0 p-0 nav-link" :href="info.link_localizacao">
                        <p class="c-orange m-0 p-0 fw-600">LOCALIZAÇÃO</p>
                        <p class="c-white m-0 p-0">{{ info.endereco }}</p>
                    </a>

                </div>
            </div>
            <div class="row" v-else>
                <div class="col-4"></div>
                <div class="col-8 text-right">
                    <h4 class="fw-700 c-white">UNIDADE</h4>
                    <h2 class="fw-700 c-white" style="text-transform: uppercase;"> {{info.localizacao}}</h2>
                </div>
                <div class="col-10 text-right">
                    <p class="c-orange m-0 p-0 fw-600">HORÁRIO DE FUNCIONAMENTO</p>
                    <p class="c-white m-0 p-0">{{ info.horario }}</p>
                </div>
                <div class="col-2 mb-5">
                    <img class="img-fluid w-100" src="../../assets/img/Onde_estamos/horario_ic.png">
                </div>
                <div class="col-10 text-right">
                    <p class="c-orange m-0 p-0 fw-600">CENTRAL DE RELACIONAMENTO</p>
                    <p class="c-white m-0 p-0">{{ info.telefone }}</p>
                </div>
                <div class="col-2 mb-5">
                    <img class="img-fluid w-100" src="../../assets/img/Onde_estamos/telefone_ic.png">
                </div>
                <div class="col-10 text-right">
                    <a target="_blank" class="m-0 p-0 nav-link" :href="info.link_whats_web">
                        <p class="c-orange m-0 p-0 fw-600">CENTRAL WHATSAPP</p>
                        <p class="c-white m-0 p-0">{{ info.whatsapp }}</p>
                    </a>
                </div>
                <div class="col-2 mb-5">
                    <img class="img-fluid w-100" src="../../assets/img/Onde_estamos/whatsapp_ic.png">
                </div>
                <div class="col-10 text-right">
                    <a target="_blank" class="m-0 p-0 nav-link" :href="info.link_localizacao">
                        <p class="c-orange m-0 p-0 fw-600">LOCALIZAÇÃO</p>
                        <p class="c-white m-0 p-0">{{ info.endereco }}</p>
                    </a>
                </div>
                <div class="col-2 mb-5">
                    <img class="img-fluid w-100" src="../../assets/img/Onde_estamos/localizacao_ic.png">
                </div>
            </div>
        </div>

        <div class="col-lg-4 align-self-center mt-3 d-md-none d-sm-block">
            <div class="row text-center">
                <div class="col-12">
                    <h4 class="fw-700 c-white">UNIDADE</h4>
                    <h2 class="fw-700 c-white" style="text-transform: uppercase;"> {{info.localizacao}}</h2>
                </div>
                <div class="col-12">
                    <Carrosel_Imagens_Mb :imgs="info.imgs_mb" :pos="i"></Carrosel_Imagens_Mb>
                </div>
                <div class="col-12 mt-4 mb-2">
                    <img class="img-fluid " style="width: 15%;" src="../../assets/img/Onde_estamos/horario_ic.png">
                </div>
                <div class="col-12">
                    <p class="c-orange m-0 p-0 fw-600">HORÁRIO DE FUNCIONAMENTO</p>
                    <p class="c-white m-0 p-0">{{ info.horario }}</p>
                </div>
                <div class="col-12 mt-4 mb-2">
                    <img class="img-fluid " style="width: 15%;" src="../../assets/img/Onde_estamos/telefone_ic.png">
                </div>
                <div class="col-12">
                    <p class="c-orange m-0 p-0 fw-600">TELEFONE</p>
                    <a :href="`tel:${info.telefone}`">
                        <p class="c-white m-0 p-0">{{ info.telefone }}</p>
                    </a>
                </div>
                <div class="col-12 mt-4 mb-2">
                    <img class="img-fluid " style="width: 15%;" src="../../assets/img/Onde_estamos/whatsapp_ic.png">
                </div>
                <div class="col-12">
                    <a target="_blank" class="m-0 p-0 nav-link" :href="info.link_whats_web">
                        <p class="c-orange m-0 p-0 fw-600">WHATSAPP</p>
                        <p class="c-white m-0 p-0">{{ info.whatsapp }}</p>
                    </a>
                </div>
                <div class="col-12 mt-4 mb-2">
                    <img class="img-fluid " style="width: 15%;" src="../../assets/img/Onde_estamos/localizacao_ic.png">
                </div>
                <div class="col-12">
                    <a target="_blank" class="m-0 p-0 nav-link" :href="info.link_localizacao">
                        <p class="c-orange m-0 p-0 fw-600">LOCALIZAÇÃO</p>
                        <p class="c-white m-0 p-0">{{ info.endereco }}</p>
                    </a>
                </div>
            </div>
        </div>
        <div v-if="!check_pos(i)" class="col-lg-4 d-nome d-md-block align-self-center">
            <img class="img-fluid w-100 d-none d-md-block" src="../../assets/img/Onde_estamos/f_direita.png">
        </div>
        <div v-else class="col-lg-4 align-self-center d-none d-md-block">
            <img class="img-fluid w-100" :src="getImgUrl(info.img)">
        </div>
    </div>
</div>