<div id="leadPage">
    <Navbar_03></Navbar_03>
    <div class="">
        <div class="bg-purple d-none d-md-block">
            <div class="row no-gutters">
                <div class="col-lg-6 align-self-center" style="padding-left: 7%;">
                    <h1 class="fw-700 c-white">
                        DÊ BOAS -VINDAS<br>À LIBERDADE
                    </h1>
                    <h3 class="fw-600 c-orange">
                        A sua nova escolha<br>em depilação a laser
                    </h3>
                </div>
                <div class="col-6">
                    <img src="../../assets/img/pg_lead/banner_011.png" class="img-fluid w-100">
                </div>
            </div>
        </div>
        <div class="bg-purple">
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-lg-6 d-none d-md-block  mb-5">
                        <img src="../../assets/img/pg_lead/mulher_left_2.png" class="w-100 img-fluid">
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h1 class="fw-700 c-white text-center">
                            Sua depilação definitiva<br>com até
                        </h1>
                        <div class="text-center mt-3 mb-4">
                            <img src="../../assets/img/80off.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 d-md-none d-sm-block  mt-5">
                        <img src="../../assets/img/pg_lead/mulher_left_2.png" class="w-100 img-fluid">
                    </div>

                </div>

            </div>
            <div class="container">
                <div class="row pt-5">
                    <div class="col-lg-6 col-sm-12 col-md-12 align-self-center">
                        <h1 class="fw-700 c-white text-center">
                            ESCOLHA SER LIVRE
                        </h1>
                        <h1 class="fw-700 c-white text-center">VENHA VIVER UMA</h1>
                        <h1 class="fw-700 c-white text-center">
                            EXPERIÊNCIA <span class="c-orange">FREE</span>LASER!
                        </h1>
                        <div class="mt-4">
                            <form v-on:submit.prevent="SendForm">
                                <label class="c-white mt-2">Nome</label>
                                <input required class="form-control form-bg-transp" type="text" name="nome" id="nome" v-model="form.nome">
                                <label class="c-white mt-2">Email</label>
                                <input required class="form-control form-bg-transp" type="email" name="email" id="email" v-model="form.email">
                                <label class="c-white mt-2">Celular</label>
                                <input required class="form-control form-bg-transp" name="celular" v-mask="'(##) ####-#####'" v-model="form.celular" type="text" id="telefone">
                                <label class="c-white mt-2">Unidade</label>
                                <select class="form-control form-bg-transp select-orange" name="unidade" style="color: white;" v-model="form.unidade">
                                        <option selected disabled>Escolha uma opção!</option>
                                        <option>Salvador Shopping</option>
                                        <option>Shopping Bela Vista</option>
                                    </select>
                                <label class="c-white mt-2">Cidade</label>
                                <input required class="form-control form-bg-transp" name="cidade" type="text" id="cidade" v-model="form.cidade">
                                <div class="text-center mt-3 mb-3">
                                    <button class="btn btn-orange  pl-4 pr-4" type="submit">QUERO!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-6 d-none d-md-block align-self-center">
                        <img src="../../assets/img/pg_lead/mulher_lf.png" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </div>


        <div class="row no-gutters">
            <div class="col-12">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
                    <path fill="#990099" fill-opacity="1" d="M0,160L48,154.7C96,149,192,139,288,122.7C384,107,480,85,576,90.7C672,96,768,128,864,160C960,192,1056,224,1152,218.7C1248,213,1344,171,1392,149.3L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                </svg>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 d-none d-md-block align-self-center">
                    <img src="../../assets/img/pg_lead/mulher_gilete.png" class="img-fluid w-100">
                </div>
                <div class="col-lg-6 col-sm-12 col-md-12 align-self-center">
                    <h2 class="fw-700 c-purple text-center">
                        LIBERDADE PARA<br>SER LIVRE DE:
                    </h2>
                    <div class="row" style="justify-content: center;">
                        <div class="col-5">
                            <div class="bt mt-2 mb-2 text-center">
                                <button class="c-none btn btn-orange btn-block">
                                    PELE IRRITADA
                                </button>
                            </div>
                            <div class="bt mt-2 mb-2 text-center">
                                <button class="c-none btn btn-orange  btn-block">
                                    DORES
                                </button>
                            </div>
                            <div class="bt mt-2 mb-2 text-center">
                                <button class="c-none btn btn-orange  btn-block">
                                    ÁREAS ESCURAS
                                </button>
                            </div>
                            <div class="bt mt-2 mb-2 text-center">
                                <button class="c-none btn btn-orange  btn-block">
                                    CORTES
                                </button>
                            </div>
                            <div class="bt mt-2 mb-2 text-center">
                                <button class="c-none btn btn-orange  btn-block">
                                    PELOS ENCRAVADOS
                                </button>
                            </div>
                            <div class="bt mt-2 mb-2 text-center">
                                <button class="c-none btn btn-orange  btn-block">
                                    PERDER TEMPO
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
                    <path fill="#990099" fill-opacity="1" d="M0,128L48,144C96,160,192,192,288,197.3C384,203,480,181,576,165.3C672,149,768,139,864,122.7C960,107,1056,85,1152,96C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
                </svg>
            </div>
        </div>
        <div id="" class="pb-1 d-flex bg-purple" style="flex-direction: column;">
            <h2 class="fw-700 c-white text-center">
                ESCOLHA SER FREE
            </h2>
            <div class="container-fluid">
                <div class="cards row justify-content-center mt-3">
                    <CardWithIcon icone="img/icons/maos.png" titulo="SOMOS 100% VOCÊ" texto="Aqui você encontra uma equipe altamente qualificada, treinada e apaixonada pelo que faz, 100% voltada ao seu bem-estar, satisfação e melhor experiência."> </CardWithIcon>
                    <CardWithIcon icone="img/icons/depilacao.png" titulo="AS MELHORES TECNOLOGIAS" texto="Na Freelaser você sempre terá as mais avançadas e eficazes tecnologias da área de estética, visando sempre o melhor conforto e os melhores resultados para você."> </CardWithIcon>
                    <CardWithIcon icone="img/icons/confiaca.png" titulo="AQUI, VOCÊ SEMPRE ESCOLHE" texto="Com a Freelaser, você sempre será protagonista e poderá cuidar do seu corpo e bem-estar, com preços muito justos e acessíveis, tudo no mesmo lugar, para que sua experiência seja única e duradoura!">
                    </CardWithIcon>
                </div>
            </div>
        </div>



        <div class="row no-gutters pt-5 bg-purple">
            <div class="col-12 pb-5">
                <h1 class="fw-700 c-white text-center">
                    JÁ CONHECE OS
                </h1>
                <h1 class="fw-700 c-white text-center" style="font-size: 4.5vw;">
                    BENEFÍCIOS
                </h1>
                <h1 class="fw-700 c-white text-center">
                    DA DEPILAÇÃO A LASER?
                </h1>
                <hr class="pt-1 pb-1" style="width: 60%;background: orange;">
            </div>

        </div>
        <div class="bg-purple">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 align-self-center d-md-none d-sm-block">
                        <img src="../../assets/img/pg_lead/mulher_left.png" class="w-100 img-fluid">
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row no-gutters">
                                    <div class="col-1">
                                        <img src="../../assets/img/pg_lead/circle.svg" style="width: 50%;">
                                    </div>
                                    <div class="col-10 c-white">
                                        <p style="padding: 0; margin: 0;" class="fw-600 c-white">
                                            MÉTODO PRATICAMENTE INDOLOR E COM MAIOR CONFORTO
                                        </p>
                                        <p>
                                            Nossas tecnologias possuem ponteiras resfriadas, proporcionando muito conforto.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row no-gutters">
                                    <div class="col-1">
                                        <img src="../../assets/img/pg_lead/circle.svg" style="width: 50%;">
                                    </div>
                                    <div class="col-10 c-white">
                                        <p style="padding: 0; margin: 0;" class="fw-600 c-white">
                                            SEGURANÇA NO PROCEDIMENTO
                                        </p>
                                        <p>
                                            Nossa equipe técnica é composta exclusivamente de profissionais de fisioterapia, biomedicina e estética, habilitadas e recicladas frequentemente nas mais seguras tecnologias do mercado.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row no-gutters">
                                    <div class="col-1">
                                        <img src="../../assets/img/pg_lead/circle.svg" style="width: 50%;">
                                    </div>
                                    <div class="col-10 c-white">
                                        <p style="padding: 0; margin: 0;" class="fw-600 c-white">
                                            CUSTO X BENEFÍCIO
                                        </p>
                                        <p>
                                            A depilação a laser é um método de eliminação dos pelos que tem caráter permanente, tornando muito vantajosa a relação de custo quando comparados com o uso de lâminas e cera na periodicidade necessária para não ter pelos aparentes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row no-gutters">
                                    <div class="col-1">
                                        <img src="../../assets/img/pg_lead/circle.svg" style="width: 50%;">
                                    </div>
                                    <div class="col-10 c-white">
                                        <p style="padding: 0; margin: 0;" class="fw-600 c-white">
                                            MAIS TEMPO LIVRE PARA FAZER O QUE REALMENTE IMPORTA
                                        </p>
                                        <p>
                                            Eliminar os pelos se tornou sinônimo de praticidade e liberdade, liberando seu tempo para outras atividades e te deixando sempre pronta (o) para tudo!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row no-gutters">
                                    <div class="col-1">
                                        <img src="../../assets/img/pg_lead/circle.svg" style="width: 50%;">
                                    </div>
                                    <div class="col-10 c-white">
                                        <p style="padding: 0; margin: 0;" class="fw-600 c-white">
                                            REDUÇÃO DA FOLICULITE
                                        </p>
                                        <p>
                                            O único método eficaz para acabar com a foliculite é eliminando os pelos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row no-gutters">
                                    <div class="col-1">
                                        <img src="../../assets/img/pg_lead/circle.svg" style="width: 50%;">
                                    </div>
                                    <div class="col-10 c-white">
                                        <p style="padding: 0; margin: 0;" class="fw-600 c-white">
                                            MELHORA DO ASPECTO DA PELE
                                        </p>
                                        <p>
                                            A eliminação dos pelos acaba com os pelos encravados (foliculite) e manchas na pele ocasionadas por outros métodos de depilação, que irritam e machucam a pele.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 align-self-center d-none d-md-block">
                        <img src="../../assets/img/pg_lead/mulher_left.png" class="w-100 img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-purple pt-5">
            <div class="container">
                <div class="row" style="justify-content: center;">
                    <div class="col-lg-3 col-sm-6 col-md-6  align-self-center">
                        <img src="../../assets/img/pg_lead/texto_vouncher.svg" class="w-100 img-fluid">
                    </div>
                    <div class="col-lg-6 align-self-center ">
                        <img src="../../assets/img/pg_lead/mulher_left_2.png" class="w-100 img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-purple pt-5 pb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6 align-self-center">
                                <h2 class="fw-700 c-white text-center">
                                    ESCOLHA SER LIVRE
                                </h2>
                                <h2 class="fw-700 c-white text-center">VENHA VIVER UMA</h2>
                                <h1 class="fw-700 c-white text-center">
                                    EXPERIÊNCIA <span class="c-orange">FREE</span>LASER!
                                </h1>
                            </div>
                            <div class="col-lg-6">
                                <form v-on:submit.prevent="SendForm">
                                    <label class="c-white mt-2">Nome</label>
                                    <input required class="form-control form-bg-transp" type="text" name="nome" id="nome" v-model="form.nome">
                                    <label class="c-white mt-2">Email</label>
                                    <input required class="form-control form-bg-transp" type="email" name="email" id="email" v-model="form.email">
                                    <label class="c-white mt-2">Celular</label>
                                    <input required class="form-control form-bg-transp" name="celular" v-mask="'(##) ####-#####'" v-model="form.celular" type="text" id="telefone">
                                    <label class="c-white mt-2">Unidade</label>
                                    <select class="form-control form-bg-transp select-orange" name="unidade" style="color: white;" v-model="form.unidade">
                                            <option selected disabled>Escolha uma opção!</option>
                                            <option>Salvador Shopping</option>
                                            <option>Shopping Bela Vista</option>
                                        </select>
                                    <label class="c-white mt-2">Cidade</label>
                                    <input required class="form-control form-bg-transp" name="cidade" type="text" id="cidade" v-model="form.cidade">
                                    <div class="text-center pt-3 pb-3">
                                        <button class="btn btn-orange  pl-4 pr-4" type="submit">QUERO!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
                    <path fill="#990099" fill-opacity="1" d="M0,160L48,154.7C96,149,192,139,288,122.7C384,107,480,85,576,90.7C672,96,768,128,864,160C960,192,1056,224,1152,218.7C1248,213,1344,171,1392,149.3L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                </svg>
            </div>
        </div>

    </div>
    <Footer_02></Footer_02>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?phone=557199700077`"></WhatsappIcon>
</div>