<div id="leadPage">
    <Navbar></Navbar>
    <div class="bg-purple">
        <div class="row no-gutters">
            <div class="col-6 align-self-center" style="padding-left: 7%;">
                <h1 class="fw-700 c-white">
                    DÊ BOAS -VINDAS<br>À LIBERDADE
                </h1>
                <h3 class="fw-600 c-orange">
                    A sua nova escolha<br>em depilação a laser
                </h3>
            </div>
            <div class="col-6">
                <img src="../../assets/img/pg_lead/banner_011.png" class="img-fluid w-100">
            </div>
        </div>
        <div class="mt-5">
            <div class="row no-gutters">
                <div class="col-lg-6 col-sm-12 col-md-12 align-self-center">
                    <h1 class="fw-700 c-white text-center">
                        ESCOLHA SER LIVRE
                    </h1>
                    <h1 class="fw-700 c-white text-center">VENHA VIVER UMA</h1>
                    <h1 class="fw-700 c-white text-center">
                        EXPERIÊNCIA FREE<span class="c-orange">LASER!</span>
                    </h1>
                    <div class="mt-4" style="width: 80%; margin-left: 10%;">
                        <label class="c-white mt-2">Nome</label>
                        <input class="form-control form-bg-transp" type="text" id="nome">
                        <label class="c-white mt-2">Telefone</label>
                        <input class="form-control form-bg-transp" type="text" id="telefone">
                        <label class="c-white mt-2">Unidade</label>
                        <select class="form-control form-bg-transp" style="color: white;">
                            <option selected>Escolha uma opção!</option>
                        </select>
                        <label class="c-white mt-2">Cidade</label>
                        <input class="form-control form-bg-transp" type="text" id="cidade">
                        <label class="c-white mt-2">Email</label>
                        <input class="form-control form-bg-transp" type="email" id="nome">
                        <div class="text-center mt-3 mb-3">
                            <button class="btn btn-orange  pl-4 pr-4">QUERO!</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-none d-md-block align-self-center">
                    <img src="../../assets/img/pg_lead/mulher_lf.png" class="img-fluid w-100">
                </div>
            </div>
        </div>
    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?phone=557199700077`"></WhatsappIcon>
</div>