<div id="main">
    <Navbar></Navbar>
    <CarroselBanner :imgs_pc="imgs_pc" :imgs_mb="imgs_mb" :slides="false"></CarroselBanner>
    <div id="__banner_02" class="pt-5">
        <div id="conteudo" class="container">
            <p id="texto-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore itation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            </p>
        </div>
        <h5>
            OS BENEFÍCIOS DA DEPILAÇÃO A LASER
        </h5>
        <div class="container d-none d-md-block" id="textos-02">
            <div class="row justify-content-center border-between">
                <div class="col-6 border-right text-right">
                    <div class="mt-5">
                        <h6 class="title">
                            BENEFÍCIO 1
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                </div>
                <div class="col-6"></div>
                <div class="col-6"></div>
                <div class="col-6 border-left text-left">
                    <div class="mt-5">
                        <h6 class="title">
                            BENEFÍCIO 2
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                </div>
                <div class="col-6 border-right text-right">
                    <div class="mt-5">
                        <h6 class="title">
                            BENEFÍCIO 3
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>
        </div>
        <div class="container d-sm-block d-md-none pt-5">
            <div class="row">
                <div class="col-12 border-right text-right">
                    <div class="mt-5">
                        <h6 class="title">
                            BENEFÍCIO 1
                        </h6>
                        <p class="py-0 my-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                </div>
                <div class="col-12 border-right text-right">
                    <div class="mt-5">
                        <h6 class="title">
                            BENEFÍCIO 2
                        </h6>
                        <p class="py-0 my-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                </div>
                <div class="col-12 border-right text-right">
                    <div class="mt-5">
                        <h6 class="title">
                            BENEFÍCIO 3
                        </h6>
                        <p class="py-0 my-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <h5 class="mt-5 mb-5 pt-5 pb-5">CONHEÇA AS ÁREAS PARA DEPILAÇÃO FEMININA</h5>
        <div class="container mt-5 mb-5" id="cards_bnc">
            <div class="cards-bonecas">
                <img class="img-fluid" src="../../assets/img/pg_depilacao_a_laser/bg_w.png">
            </div>
            <div class="cards-bonecas">
                <img class="img-fluid" src="../../assets/img/pg_depilacao_a_laser/bg_w.png">
            </div>
            <div class="cards-bonecas">
                <img class="img-fluid" src="../../assets/img/pg_depilacao_a_laser/bg_w.png">
            </div>
        </div>
        <div class="container pt-5 text-center">
            <h3>PRONTA PARA AS SUAS</h3>
            <h1 class="fw-600" style="font-size: 4vw;">3 SESSÕES GRÁTIS?</h1>
            <button class="btn btn-orange pl-5 pr-5 mt-3">QUERO SER FREE!</button>
        </div>
    </div>
    <Footer></Footer>
</div>