<div id="main">
    <Navbar></Navbar>
    <CarroselBanner :imgs_pc="imgs_pc" :imgs_mb="imgs_mb" :slides="false"></CarroselBanner>
    <div class="cards row justify-content-center mt-3">
        <CardWithIcon icone="img/icons/tratamento_corporal.png" titulo="TRATAMENTOS CORPORAIS" texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation">
        </CardWithIcon>

        <CardWithIcon icone="img/icons/tratamento_facial.png" titulo="TRATAMENTOS FACIAIS" texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation">
        </CardWithIcon>
    </div>
    <div class="text-center">
        <p></p>
    </div>
    <Footer></Footer>
</div>