<div class="container-fluid w-100">
    <nav class="nav navbar navbar-expand-lg navbar-light justify-content-center">
        <div class="row no-gutters">
            <div class="fixed-itens col-lg-12">
                <form class="form-inline my-2 my-lg-0 d-none d-md-flex">
                    <router-link class="navbar-brand" to="./">
                        <img src="../../assets/img/logo.png" width="200px">

                    </router-link>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <input class="form-control w-40">
                    <a class="my-3 my-sm-0" type="submit">
                        <img src="../../assets/img/icons/lupa.png" class="icon">
                    </a>

                    <!-- <a class="my-2 my-sm-0">
                        <img src="../../assets/img/icons/carrinho.png" class="icon">
                    </a> -->

                    <a target="_blank" href="https://api.whatsapp.com/send?l=pt&phone=5571999700077&text=Ol%C3%A1!%20Visitei%20o%20site%20da%20Freelaser%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es" class="my-2 my-sm-0 ml-5 mr-5 pointer">
                        <img src="../../assets/img/icons/whatsapp.png" class="icon">
                    </a>
                    <router-link to="./agendar" class="btn shadow" id="btn_area_cliente">
                        AGENDE SUA AVALIAÇÃO
                    </router-link>
                </form>

                <form class="form-inline my-2 my-lg-0 d-md-none d-sm-block">
                    <router-link class="navbar-brand" to="./">
                        <img src="../../assets/img/logo.png" width="150px">
                    </router-link>

                    <input class="form-control w-40 d-none d-md-block">
                    <!-- <a class="py-0">
                        <img src="../../assets/img/icons/carrinho.png" class="icon">
                    </a> -->
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=557199700077" class="py-0 pointer">
                        <img src="../../assets/img/icons/whatsapp.png" class="icon">
                    </a>
                    <router-link to="./login">
                        <img src="../../assets/img/icons/user.png" class="icon">
                    </router-link>

                    <button class="navbar-toggler m-0 p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <input class="form-control w-80">
                    <a class="my-3 my-sm-0" type="submit">
                        <img src="../../assets/img/icons/lupa.png" class="icon">
                    </a>
                </form>
            </div>
            <div class="collapse navbar-collapse col-lg-12" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto mt-2 text-center">
                    <div class="nav-item">
                        <router-link class="nav-link" to="./quem_somos">
                            A FREELASER
                        </router-link>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link-d dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false" id="depilacao_drop">DEPILAÇÃO A LASER</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <router-link class="dropdown-item" to="./depilacao_feminina">
                                Depilação Feminina
                            </router-link>
                            <div class="dropdown-divider"></div>
                            <router-link class="dropdown-item" to="./depilacao_masculina">
                                Depilação Masculina
                            </router-link>
                        </div>
                    </div>
                    <div class="nav-item">
                        <router-link class="nav-link" to="./estetica">
                            ESTÉTICA
                        </router-link>
                    </div>

                    <div class="nav-item">
                        <router-link class="nav-link" to="./onde_estamos">
                            ONDE ESTAMOS
                        </router-link>
                    </div>

                    <!-- <div class="nav-item">
                        <router-link class="nav-link" to="#">
                            BLOG DA FREE
                        </router-link>
                    </div> -->
                    <div class="nav-item">
                        <router-link class="nav-link" to="./faq">
                            PERGUNTAS FREQUENTES
                        </router-link>
                    </div>

                    <div class="nav-item">
                        <router-link class="nav-link" to="./fale_conosco">
                            FALE COM A FREE
                        </router-link>
                    </div>
                    <!-- <div class="nav-item">
                        <a class="nav-link" href="#">FREECLUB</a>
                    </div> -->
                    <!-- <div class="nav-item">
                        <a class="nav-link" href="#">BLOG DA FREE</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">COMPRE ONLINE</a>
                    </div> -->

                </div>
            </div>
        </div>

    </nav>
</div>