<div>
    <h2 class="c-white texto-chamada mb-5"><strong>QUERO SER FREE</strong></h2>
    <label class="c-white">Nome</label>
    <input class="form-control form-bg-transp" type="text" id="login_us">
    <label class="c-white mt-2">Telefone</label>
    <input class="form-control form-bg-transp" type="text" id="login_us">
    <label class="c-white mt-2">Email</label>
    <input class="form-control form-bg-transp" type="text" id="login_us">
    <div class="mt-2 c-white">
        <label class="c-white mb-1 w-100">Interesses</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Depilação a laser</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Estética Facial</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Estética Corporal</label>
        </div>
    </div>
    <label class="c-white mt-2">Telefone</label>
    <input class="form-control form-bg-transp" type="text" id="login_us">
    <div class="d-flex flex-inline mt-3 align-itens-center">
        <button class="btn btn-purple pl-5 pr-5">Cadastrar</button>
    </div>
</div>