<div id="faq">
    <Navbar></Navbar>
    <CarroselBanner :imgs_pc="imgs_pc" :imgs_mb="imgs_mb" :slides="false"></CarroselBanner>
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <Accordion :accord_props="duvidas_02"></Accordion>
            </div>
            <div class="col-lg-6 col-sm-12">
                <Accordion :accord_props="duvidas_01"></Accordion>
            </div>

        </div>

    </div>
    <div class="bg-purple pt-5 pb-5">
        <div class="container">
            <div class="c-none btn btn-orange btn-block fw-600">Quais cuidados preciso ter ANTES da sessão de depilação a laser?</div>
            <div class=" mt-3" style="border: 2px solid white; border-radius: 1rem;">
                <p class="c-white m-4 ml-5 mr-5">
                    Durante todo o tratamento de depilação a laser, é recomendado o uso de protetor solar na área, não utilizar cremes depilatórios e métodos que eliminam o pelo pela raiz como cera e pinça; Recomendamos também a depilação com lâmina ou aparador de pelos,
                    um dia antes da sessão. É necessário que o pelo esteja aparado rente a pele, para a realização das sessões com o laser; Não pode estar fazendo uso de antibióticos. As sessões devem ser realizadas somente após 3 dias (no mínimo) da
                    finalização do tratamento; Suspender o uso de creme com ácidos tópicos na região a ser tratada 7 dias antes da sessão de laser; Em caso de vacina, só poderá realizar a sessão após 7 dias; É recomendado não se expor diretamente ao sol
                    nos últimos 15 dias que antecedem sua sessão; Recomendamos que a região a ser tratada esteja hidratada e integra para realização da sessão; Não recomendamos realizar descoloração de pelos durante o tratamento na região contratada.
                </p>
            </div>
            <div class="mt-4 mb-4 text-center">
                <h2 class="fw-700 c-white">AINDA TEM DÚVIDAS?</h2>
                <h2 class="fw-700 c-orange">ENTRE EM CONTATO</h2>
            </div>
            <div class="container">
                <div class="row text-center" style="place-content: center;">
                    <div class="col-lg-2 col-sm-12">
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=557199700077" class="py-0 nav-link">
                            <img src="../../assets/img/pg_faq/icone_whatsapp.png" class="img-fluid">
                            <h4 class="c-white mt-2">Whatsapp</h4>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <div>
                            <router-link class="nav-link" to="./onde_estamos">
                                <img src="../../assets/img/pg_faq/icone_agendar.png" class="img-fluid">
                                <h4 class="c-white mt-2">Clínicas</h4>

                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?phone=557199700077`"></WhatsappIcon>
</div>