<div id="faq">
    <Navbar></Navbar>
    <CarroselBanner :imgs_pc="imgs_pc" :imgs_mb="imgs_mb" :slides="false"></CarroselBanner>
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <Accordion :accord_props="duvidas_02"></Accordion>
            </div>
            <div class="col-lg-6 col-sm-12">
                <Accordion :accord_props="duvidas_01"></Accordion>
            </div>

        </div>

    </div>
    <div class="bg-purple pt-5 pb-5">
        <div class="container">
            <div class="mt-4 mb-4 text-center">
                <h2 class="fw-700 c-white">AINDA TEM DÚVIDAS?</h2>
                <h2 class="fw-700 c-orange">ENTRE EM CONTATO</h2>
            </div>
            <div class="row text-center" style="place-content: center;">
                <div class="col-lg-2 col-sm-12">
                    <a target="_blank" style="padding: 0;" href="https://api.whatsapp.com/send?phone=557199700077" class="py-0 nav-link">
                        <img src="../../assets/img/pg_faq/icone_whatsapp.png" class="img-fluid">
                        <h4 class="c-white mt-2">Central Whatsapp</h4>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <a target="_blank" style="padding: 0;" href="tel:7130390007" class="py-0 nav-link">
                        <img src="../../assets/img/pg_faq/icone_telefone.png" class="img-fluid">
                        <h4 class="c-white mt-2">Central Freelaser</h4>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <div>
                        <router-link class="nav-link" style="padding: 0;" to="./onde_estamos">
                            <img src="../../assets/img/pg_faq/icone_agendar.png" class="img-fluid">
                            <h4 class="c-white mt-2">Clínicas</h4>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?phone=557199700077`"></WhatsappIcon>
</div>