@import url('./coolors.css');
@import url('./fonts.css');
body {
    font-family: 'Jost', sans-serif;
}

.icon {
    height: 1.5rem;
}

.w-80 {
    width: 80% !important;
}

.w-70 {
    width: 70% !important;
}

.w-60 {
    width: 60% !important;
}

.w-50 {
    width: 50% !important;
}

.w-40 {
    width: 40% !important;
}

.upper {
    text-transform: uppercase;
}

.c-none {
    cursor: default !important;
}

.btn-orange {
    background-color: #FF9011;
    color: white;
    font-weight: 500;
    border-radius: .7rem;
}

.btn-purple {
    background-color: #770077;
    color: white;
    font-weight: 500;
    border-radius: .7rem;
}

.btn-purple:hover {
    background-color: #550255 !important;
    color: white;
    font-weight: 500;
    transition: all .5s ease-in-out
}

.btn-orange:hover {
    background-color: #e47c06 !important;
    color: white;
    font-weight: 500;
    transition: all .5s ease-in-out
}

.c-white {
    color: white !important;
}

.img-sm {
    max-width: 60% !important;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.form-bg-transp {
    background-color: transparent;
    border-width: .15rem;
    border-color: white;
    color: white !important;
    border-radius: 1rem;
}

.form-bg-transp:focus {
    background-color: transparent !important;
}

.pointer {
    /* margin: 100px; */
    display: block;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(119, 0, 119);
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0.4);
        box-shadow: 0 0 0 0 rgba(244, 157, 22, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
        box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
        box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
    }
}