<footer class="pt-5 pb-5 container">
    <div class="text-center mb-5 ">
        <img src="../../assets/img/logo.png" class="img-fluid">
    </div>
    <div class="row">
        <div class="col-6 col-md borda-right">
            <h6>A FREELASER</h6>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Quem somos</a></li>
                <li><a class="text-muted" href="#">Nosso propósito</a></li>
                <li><a class="text-muted" href="#">Manifesto FreeLaser</a></li>
                <li><a class="text-muted" href="#">Nossas Clínicas</a></li>
                <li><a class="text-muted" href="#">Vem trabalhar na FREE!</a></li>
                <li><a class="text-muted" href="#">Blog da Free</a></li>
            </ul>
        </div>
        <div class="col-6 col-md d-md-block d-none d-md-block borda-right">
            <h6>NOSSOS TRATAMENTOS</h6>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Depilação Masculina</a></li>
                <li><a class="text-muted" href="#">Depilação Feminina</a></li>
                <li><a class="text-muted" href="#">Estética Corporal</a></li>
                <li><a class="text-muted" href="#">Estética Facial</a></li>
            </ul>
        </div>
        <div class="col-6 col-md d-md-none d-sm-block">
            <h6>NOSSOS TRATAMENTOS</h6>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Depilação Masculina</a></li>
                <li><a class="text-muted" href="#">Depilação Feminina</a></li>
                <li><a class="text-muted" href="#">Estética Corporal</a></li>
                <li><a class="text-muted" href="#">Estética Facial</a></li>
            </ul>
        </div>
        <div class="col-6 col-md borda-right">
            <h6>ATENDIMENTO AO CLIENTE</h6>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Fale com a FREE!</a></li>
                <li><a class="text-muted" href="#">Central de Relacionamento FREE</a></li>
                <li><a class="text-muted" href="#">Perguntas Frequentes (FAQ)</a></li>
                <li><a class="text-muted" href="#"><strong>Agende sua avaliação gratuita!</strong></a></li>
                <li><a class="text-muted" href="#">Política de Privacidade</a></li>

            </ul>
        </div>
        <div class="col-6 col-md" id="icons">
            <h6>SIGA A FREE<br> NAS REDES!</h6>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="#"><img class="img-fluid" src="../../assets/img/icons/instagram.png"></a>
                    <a class="text-muted" href="#"><img class="img-fluid" src="../../assets/img/icons/facebook.png"></a>
                </li>

                <li>
                    <a class="text-muted" href="#"><img class="img-fluid" src="../../assets/img/icons/yt.png"></a>
                    <a class="text-muted" href="#"><img class="img-fluid" src="../../assets/img/icons/tiktok.png"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>