<div class="container pt-3 pb-3">
    <nav class="nav navbar navbar-expand-lg navbar-light justify-content-center">
        <div class="row no-gutters">
            <div class="fixed-itens col-lg-12">
                <form class="form-inline my-2 my-lg-0 d-none d-md-flex">
                    <a class="navbar-brand" href="./">
                        <img src="../../assets/img/logo.png" width="150px">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <input class="form-control w-40">
                    <a class="my-3 my-sm-0" type="submit">
                        <img src="../../assets/img/icons/lupa.png" class="icon">
                    </a>

                    <a class="my-2 my-sm-0">
                        <img src="../../assets/img/icons/carrinho.png" class="icon">
                    </a>

                    <a class="my-2 my-sm-0">
                        <img src="../../assets/img/icons/whatsapp.png" class="icon">
                    </a>

                    <button class="btn" id="btn_area_cliente">ÁREA DO CLIENTE</button>
                </form>

                <form class="form-inline my-2 my-lg-0 d-md-none d-sm-block">
                    <a class="navbar-brand" href="#">
                        <img src="../../assets/img/logo.png" width="100px">
                    </a>
                    <input class="form-control w-40 d-none d-md-block">
                    <a class="py-0">
                        <img src="../../assets/img/icons/carrinho.png" class="icon">
                    </a>
                    <a class="py-0">
                        <img src="../../assets/img/icons/whatsapp.png" class="icon">
                    </a>
                    <a class="py-0">
                        <img src="../../assets/img/icons/user.png" class="icon">
                    </a>
                    <button class="navbar-toggler m-0 p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <input class="form-control w-80">
                    <a class="my-3 my-sm-0" type="submit">
                        <img src="../../assets/img/icons/lupa.png" class="icon">
                    </a>
                </form>
            </div>
            <div class="collapse navbar-collapse col-lg-12" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto mt-2 text-center">
                    <div class="nav-item">
                        <a class="nav-link" href="./quem_somos">A FREELASER</a>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false" id="depilacao_drop">DEPILAÇÃO A LASER</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./depilacao_masculina">Depilação masculina</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="./depilacao_feminina">Depilação feminina</a>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a class="nav-link" href="./tratamentos_esteticos">ESTÉTICA</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">ONDE ESTAMOS</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">FREECLUB</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">BLOG DA FREE</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#">COMPRE ONLINE</a>
                    </div>

                    <div class="nav-item">
                        <a class="nav-link" href="#">AGENDE SUA AVALIAÇÃO</a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</div>