<div id="main">
    <Navbar></Navbar>
    <CarroselBanner :imgs_pc="imgs_pc" :imgs_mb="imgs_mb" :slide="true"></CarroselBanner>
    <div id="banner_02" class="_banner_02">
        <div class="container row align-items-center">
            <div class="col-lg-6 col-sm-12 text-center" id="textos">
                <h2 style="font-size: 2.3rem;" class="mb-3 fw-600">
                    SOMOS A FRELASER CLINIC
                </h2>
                <p class="text-left">
                    Prazer, somos a <strong>FREELASER CLINIC®!</strong> Especialista em depilação a laser para todos os tipos de peles e tratamentos estéticos corporais e faciais, utilizando as mais modernas tecnologias do mercado para oferecer a você
                    as melhores técnicas e a maior eficácia, com conforto, segurança e equipe altamente qualificada e experiente.<br>Tudo isso num só lugar, pensado especialmente para você!<br>Venha sentir a experiência Freelaser®. SEJA FREE!
                </p>
                <router-link class="btn btn-orange pl-5 pr-5" to="/quem_somos">
                    SAIBA MAIS
                </router-link>
            </div>
            <div class="col-lg-6 text-center d-none d-md-block">
                <img src="../../assets/img/mulher_b2.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="d-none d-md-block">
        <div id="banner_03" class="_banner_03">
            <div id="b3_pt_1" class="pb-1 d-flex" style="flex-direction: column;">
                <h3 class="text-center">ESCOLHA SER FREE!</h3>
                <div class="container-fluid">
                    <div class="cards row justify-content-center mt-3">
                        <CardWithIcon icone="img/icons/maos.png" titulo="SOMOS 100% VOCÊ" texto="Aqui você encontra uma equipe altamente qualificada, treinada e apaixonada pelo que faz, 100% voltada ao seu bem-estar, satisfação e melhor experiência."> </CardWithIcon>
                        <CardWithIcon icone="img/icons/depilacao.png" titulo="AS MELHORES TECNOLOGIAS" texto="Na Freelaser você sempre terá as mais avançadas e eficazes tecnologias da área de estética, visando sempre o melhor conforto e os melhores resultados para você."> </CardWithIcon>
                        <CardWithIcon icone="img/icons/confiaca.png" titulo="AQUI, VOCÊ SEMPRE ESCOLHE" texto="Com a Freelaser, você sempre será protagonista e poderá cuidar do seu corpo e bem-estar, com preços muito justos e acessíveis, tudo no mesmo lugar, para que sua experiência seja única e duradoura!">
                        </CardWithIcon>
                    </div>
                </div>

                <div class="w-100 text-center">
                    <router-link class="btn btn-orange mt-2 text-center btn-sm pl-4 pr-4" to="/quem_somos">
                        CONHEÇA NOSSA HISTÓRIA
                    </router-link>
                </div>
            </div>
            <div id="b3_pt_2">
                <router-link to="./lead">
                    <img src="../../assets/img/banner_03_pt_2.png" class="w-100 img-fluid">
                </router-link>
            </div>
            <!-- <div class="container-fluid text-center d-none d-md-block" id="tx_1">
                <h3>ESCOLHA SER FREE!</h3>
                <div class="cards row justify-content-center mt-3">
                    <CardWithIcon icone="img/icons/maos.png" titulo="SOMOS 100% VOCÊ" texto="Aqui você encontra uma equipe altamente qualificada, treinada e apaixonada pelo que faz, 100% voltada ao seu bem-estar, satisfação e melhor experiência"> </CardWithIcon>
                    <CardWithIcon icone="img/icons/depilacao.png" titulo="AS MELHORES TECNOLOGIAS" texto="Na Freelaser você sempre terá as mais avançadas e eficazes tecnologias da área de estética, visando sempre o melhor conforto e os melhores resultados para você"> </CardWithIcon>
                    <CardWithIcon icone="img/icons/confiaca.png" titulo="AQUI, VOCÊ SEMPRE ESCOLHE" texto="Com a Freelaser, você sempre será protagonista e poderá cuidar do seu corpo e bem-estar, com preços muito justos e acessíveis, tudo no mesmo lugar, para que sua experiência seja única e duradoura!">
                    </CardWithIcon>
                </div>
                <router-link class="btn btn-orange mt-2" to="./quem_somos">
                    CONHEÇA NOSSA HISTÓRIA
                </router-link>
                <div class="mt-5" id="div_secnd">
                    <h1>VOUCHER</h1>
                    <div>
                        <p class="my-0 py-0" id="t3">3</p>
                        <p class="my-0 py-0" id="sessoes">SESSÕES
                            <br><span>GRÁTIS</span></p>
                    </div>
                    <router-link class="btn btn-orange pl-4 pr-4" to="./lead">
                        Quero!
                    </router-link>
                </div>
            </div>
            <div id="bg">
                <img class="img-fluid w-100" src="../../assets/img/banner_03_bg.png">
            </div> -->
        </div>

        <div id="banner_04" class="_banner_04">
            <div class="container pt-4 pb-4 text-center">
                <p class="my-0 py-0" id="agende_sua">AGENDE SUA</p>
                <p class="my-0 py-0" id="av">AVALIAÇÃO GRATUITA</p>
                <router-link class="mt-3 mb-3 btn btn-orange pl-4 pr-4" to="./lead">
                    QUERO SER FREE!
                </router-link>

            </div>
        </div>

        <div id="banner_05" class="_banner_05">
            <div id="b5_content" class=" row no-gutters align-items-center">
                <div class="col-lg-5 col-md-6 col-sm-6 card-left">
                    <p class="b6-title">DEPILAÇÃO<br>FEMININA</p>
                    <p>Para muitas mulheres, a depilação é um momento de cuidar de si mesma. Além disto, se livrar dos pelinhos indesejados é libertador e recompensador.<br> Com a depilação a laser, esta liberdade se torna totalmente possível, com resultados
                        que já aparecem nas primeiras sessões.<br>Somos especialistas em tratamentos a laser e contamos com mais eficazes tecnologias do mercado para que você consiga ficar livre dos pelos!

                    </p>
                    <router-link class="btn btn-orange pl-3 pr-3" to="./depilacao_feminina">
                        SAIBA MAIS
                    </router-link>

                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <img src="../../assets/img/b6_img_1.png" class="img-fluid w-100">
                </div>

                <div class="col-lg-7 col-md-7 col-sm-7">
                    <img src="../../assets/img/b6_img_2.png" class="img-fluid w-100">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 card-right">
                    <p class="b6-title">DEPILAÇÃO<br>MASCULINA</p>
                    <p>No mundo atual, não temos espaço para os tabus do passado, certo? Prova disto é que o público masculino está aderindo cada vez mais aos métodos de depilação a laser e aos diversos tratamentos estéticos, deixando de lado o preconceito
                        e percebendo os benefícios da eliminação do pelo, melhora de foliculite e da hiperpigmentação da pele.

                    </p>
                    <router-link class="btn btn-orange pl-3 pr-3" to="./depilacao_masculina">
                        SAIBA MAIS
                    </router-link>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-6 card-left">
                    <p class="b6-title">ESTÉTICA<br>FACIAL</p>
                    <p>Essa região da face, que é tão delicada e nosso “cartão de visitas”, requer atenção especial sempre, não é mesmo? Atualmente, milhares de pessoas têm buscado cada vez mais os tratamentos faciais, tanto pelas necessidades estéticas,
                        quanto pelo cuidado com a pele desta área.
                    </p>
                    <router-link class="btn btn-orange pl-3 pr-3" to="./estetica">
                        SAIBA MAIS
                    </router-link>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <img src="../../assets/img/b6_img_3.png" class="img-fluid w-100">
                </div>

                <div class="col-lg-8 col-md-7 col-sm-7" style="flex: 0 0 64%;">
                    <img src="../../assets/img/b6_img_4.png" class="img-fluid w-100">
                </div>
                <div class="col-lg-4 col-md-5 col-sm-5 card-right">
                    <p class="b6-title">ESTÉTICA<br>CORPORAL</p>
                    <p>Aqui na Freelaser Clinic®, acreditamos que estética, cuidado e bem-estar são essenciais para manter a nossa autoestima e principalmente a nossa saúde mental e corporal.
                        <br> Nosso propósito é te ajudar nestes objetivos, oferecendo diversos serviços e tratamentos, num só lugar, contribuindo para a sua felicidade e satisfação pessoal.
                    </p>
                    <router-link class="btn btn-orange pl-3 pr-3" to="./estetica">
                        SAIBA MAIS
                    </router-link>
                </div>
            </div>
        </div>

        <!-- <div id="banner_06" class="_banner_06 container text-center pt-5 pb-5">
            <h3>
                PRATICIDADE E LIBERDADE DE ESCOLHA
            </h3>
            <h4>
                Compre aqui pelo site, de forma fácil e rápida, sem complicações
            </h4>
            <h5>
                Dispomos de diversos pacotes, combos e condições especiais!
            </h5>
            <div class="row mt-4 justify-content-center text-center">
                <div class="col-lg-2 card_redondo">
                    <div class="img">
                        <img src="../../assets/img/icons/depilacao.png">
                    </div>
                    <p class="text-center">
                        DEPILAÇÃO<br>A LASER
                    </p>
                </div>
                <div class="col-lg-2 card_redondo">
                    <div class="img">
                        <img src="../../assets/img/icons/tratamento_corporal.png">
                    </div>
                    <p class="text-center">
                        TRATAMENTOS<br>CORPORAIS
                    </p>
                </div>
                <div class="col-lg-2 card_redondo">
                    <div class="img">
                        <img src="../../assets/img/icons/tratamento_facial.png">
                    </div>
                    <p class="text-center">
                        TRATAMENTOS<br>FACIAIS
                    </p>
                </div>
                <div class="col-lg-2 card_redondo">
                    <div class="img">
                        <img src="../../assets/img/icons/promocoes.png">
                    </div>
                    <p class="text-center">
                        PROMOCOES
                    </p>
                </div>
            </div>
            <button class="btn btn-orange pl-4 pr-4">QUERO VER MAIS</button>
        </div> -->

        <div id="banner_07" class="_banner_07">
            <img class="img-fluid w-100" src="../../assets/img/banner_07.png">
            <div id="conteudo_b7">
                <div class="row no-gutters justify-content-center align-items-center">
                    <div class="col-lg-4">
                        <p id="b7_texto_01" class="text-left my-3 py-0">
                            AGENDE JÁ AS SUAS
                        </p>
                        <p id="b7_texto_02" class="py-0 my-0 text-left">
                            SESSÕES
                        </p>
                        <p id="b7_texto_03" class="py-0 my-0 text-left">
                            GRATUITAS
                        </p>
                        <router-link class="btn pl-5 pr-5 pt-2 pb-2 btn-orange" to="./lead">
                            QUERO SER FREE!
                        </router-link>
                    </div>
                    <div class="col-lg-4">
                        <img src="../../assets/img/mulher_f.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mbl d-sm-block d-md-none">
        <div id="banner_03_mbl" class="">
            <div class="pt-3 pb-3 text-center container">
                <h3 class="fw-700">
                    ESCOLHA SER FREE
                </h3>
                <div class="carrosel">
                    <div id="banners_mb" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card d-block w-100">
                                    <div class="card-body" style="min-height: 15rem;">
                                        <h4 class="card-title fw-700"><img src="../../assets/img/icons/maos.png" class="img-fluid " style="width: 2.5rem;"> SOMOS 100% VOCÊ</h4>
                                        <p class="card-text">Aqui você encontra uma equipe altamente qualificada, treinada e apaixonada pelo que faz, 100% voltada ao seu bem-estar, satisfação e melhor experiência..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card d-block w-100">
                                    <div class="card-body" style="min-height: 15rem;">
                                        <h6 class="card-title fw-700"><img src="../../assets/img/icons/depilacao.png" class="img-fluid " style="width: 2.5rem;"> AS MELHORES TECNOLOGIAS</h6>
                                        <p class="card-text">Na Freelaser você sempre terá as mais avançadas e eficazes tecnologias da área de estética, visando sempre o melhor conforto e os melhores resultados para você.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card d-block w-100">
                                    <div class="card-body" style="min-height: 15rem;">
                                        <h6 class="card-title fw-700"><img src="../../assets/img/icons/confiaca.png" class="img-fluid" style="width: 2.5rem;">AQUI, VOCÊ SEMPRE ESCOLHE</h6>
                                        <p class="card-text">Com a Freelaser, você sempre será protagonista e poderá cuidar do seu corpo e bem-estar, com preços muito justos e acessíveis, tudo no mesmo lugar, para que sua experiência seja única e duradoura!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#banners_mb" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#banners_mb" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>

                        <router-link class="btn btn-orange mt-2" to="./quem_somos">
                            CONHEÇA NOSSA HISTÓRIA
                        </router-link>
                    </div>

                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <router-link class="c-pointer" to="./lead">
                    <img class="img-fluid w-100" src="../../assets/img/banner_03_sessoes_mb.png">
                </router-link>
            </div>


        </div>
        <div id="banner_04">
            <div class="container pt-3 pb-3 text-center">
                <h4 class="my-0 py-0 fw-700">AGENDE SUA</h4>
                <h3 class="my-0 py-0 fw-700 mt-2">AVALIAÇÃO GRATUITA</h3>
                <button class="mt-3 mb-3 btn btn-orange pl-4 pr-4">QUERO SER FREE!</button>
            </div>
        </div>

        <div id="banner_05_mb">
            <div id="b5_content" class="row no-gutters align-items-center">
                <div class="col-12">
                    <img src="../../assets/img/dp_feminina_mb.png" class="img-fluid w-100">
                </div>
                <div class="col-12 card-mb pt-2 pb-2">
                    <div class="container text-center">
                        <p class="banner_05_mb_title">DEPILAÇÃO FEMININA</p>
                        <p>Para muitas mulheres, a depilação é um momento de cuidar de si mesma. Além disto, se livrar dos pelinhos indesejados é libertador e recompensador. Com a depilação a laser, esta liberdade se torna totalmente possível, com resultados
                            que já aparecem nas primeiras sessões.<br>Somos especialistas em tratamentos a laser e contamos com mais eficazes tecnologias do mercado para que você consiga ficar livre dos pelos!
                        </p>
                        <router-link class="btn btn-orange pl-3 pr-3" to="./depilacao_feminina">
                            SAIBA MAIS
                        </router-link>
                    </div>
                </div>
                <div class="col-12">
                    <img src="../../assets/img/dp_masc_mb.png" class="img-fluid w-100">
                </div>
                <div class="col-12 card-mb pt-2 pb-2">
                    <div class="container text-center">
                        <p class="banner_05_mb_title">DEPILAÇÃO MASCULINA</p>
                        <p>No mundo atual, não temos espaço para os tabus do passado, certo? Prova disto é que o público masculino está aderindo cada vez mais aos métodos de depilação a laser e aos diversos tratamentos estéticos, deixando de lado o preconceito
                            e percebendo os benefícios da eliminação do pelo, melhora de foliculite e da hiperpigmentação da pele.
                        </p>
                        <router-link class="btn btn-orange pl-3 pr-3" to="./depilacao_masculina">
                            SAIBA MAIS
                        </router-link>
                    </div>
                </div>
                <div class="col-12">
                    <img src="../../assets/img/estetica_corporal_mb.png" class="img-fluid w-100">
                </div>
                <div class="col-12 card-mb pt-2 pb-2">
                    <div class="container text-center">
                        <p class="banner_05_mb_title">ESTÉTICA CORPORAL</p>
                        <p>Essa região da face, que é tão delicada e nosso “cartão de visitas”, requer atenção especial sempre, não é mesmo? Atualmente, milhares de pessoas têm buscado cada vez mais os tratamentos faciais, tanto pelas necessidades estéticas,
                            quanto pelo cuidado com a pele desta área.</p>
                        <router-link class="btn btn-orange pl-3 pr-3" to="./estetica">
                            SAIBA MAIS
                        </router-link>
                    </div>
                </div>
                <div class="col-12">
                    <img src="../../assets/img/estetica_facial_mb.png" class="img-fluid w-100">
                </div>
                <div class="col-12 card-mb pt-2 pb-2">
                    <div class="container text-center">
                        <p class="banner_05_mb_title">ESTÉTICA FACIAL</p>
                        <p>Aqui na Freelaser Clinic®, acreditamos que estética, cuidado e bem-estar são essenciais para manter a nossa autoestima e principalmente a nossa saúde mental e corporal.<br>Nosso propósito é te ajudar nestes objetivos, oferecendo
                            diversos serviços e tratamentos, num só lugar, contribuindo para a sua felicidade e satisfação pessoal.
                        </p>
                        <router-link class="btn btn-orange pl-3 pr-3" to="./estetica">
                            SAIBA MAIS
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div id="banner_07_mb" class="pt-3">
            <div class="text-center container mt-3 mb-3">
                <h4 class="fw-700">LIBERDADE DE ESCOLHA</h4>
            </div>
            <div class="text-center pt-3 pb-3" id="card_02_b7_mb">
                <p class="fw-700 upper">Na FREE, você também pode comprar<br>diretamente pelo site, fácil e rápido!</p>
            </div>
            <div class="text-center pt-2 pt-3 container" id="card_03_b7_mb">
                <p class="fw-500">
                    Dispomos diversos pacotes, combos e preços<br>incríveis para os diversos tratamentos <br>estéticos e para sua depilação a laser.
                </p>
                <div class="cards container row align-itens center justify-content-center">
                    <div class="col-4 card_redondo_mb text-center">
                        <div class="img">
                            <img src="../../assets/img/icons/depilacao.png">
                        </div>
                        <p>
                            DEPILAÇÃO<br>A LASER
                        </p>
                    </div>
                    <div class="col-4 card_redondo_mb text-center">
                        <div class="img">
                            <img src="../../assets/img/icons/tratamento_corporal.png">
                        </div>
                        <p>
                            TRATAMENTOS<br>CORPORAIS
                        </p>
                    </div>

                    <div class="col-4 card_redondo_mb text-center">
                        <div class="img">
                            <img src="../../assets/img/icons/tratamento_facial.png">
                        </div>
                        <p>
                            TRATAMENTOS<br>FACIAIS
                        </p>
                    </div>
                    <div class="col-4 card_redondo_mb text-center">
                        <div class="img">
                            <img src="../../assets/img/icons/massagens.png">
                        </div>
                        <p>
                            MASSAGENS
                        </p>
                    </div>
                    <div class="col-4 card_redondo_mb text-center">
                        <div class="img">
                            <img src="../../assets/img/icons/promocoes.png">
                        </div>
                        <p>
                            PROMOCOES
                        </p>
                    </div>
                </div>
            </div>
        </div> -->

        <div id="banner_7_mb" class="text-center">
            <!-- <router-link class="btn btn-orange btn-sm pl-3 pr-3 mb-2 mt-2" to="./lead">
                QUERO VER MAIS
            </router-link> -->
            <div>
                <img src="../../assets/img/banner_07_mb.png" class="img-fluid w-100">
            </div>

            <div class="text-center" id="banner_7_mb_2">
                <router-link class="" to="./lead">
                    <img src="../../assets/img/banner_07_2_mb.png" class="w-100 img-fluid">
                </router-link>
            </div>

        </div>

    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?phone=557199700077`"></WhatsappIcon>
</div>