<div id="main">
    <Navbar></Navbar>
    <div id="login_cad_form">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-lg-4">
                    <LoginForm></LoginForm>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <CadastroForm></CadastroForm>
                </div>
            </div>
        </div>
    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?phone=557199700077`"></WhatsappIcon>
</div>