<div id="main">
    <Navbar></Navbar>
    <div id="login_cad_form">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-lg-4">
                    <LoginForm></LoginForm>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <CadastroForm></CadastroForm>
                </div>
            </div>
        </div>
    </div>
    <Footer></Footer>
    <WhatsappIcon :link="`https://api.whatsapp.com/send?l=pt&phone=5571999229912&text=Ol%C3%A1!%20Visitei%20o%20site%20da%20Freelaser%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es.`"></WhatsappIcon>
</div>