<footer class="pb-4 container-fluid">
    <div class="text-center mb-2 d-flex" style="justify-content: center;">
        <img src="../../assets/img/logo.png" class="img-fluid d-none d-md-block">
        <img src="../../assets/img/logo.png" style="width: 70%;" class="img-fluid d-md-none d-sm-block">
    </div>
    <div class="text-center mb-3">
        <p class="c-purple">
            Free Laser Copyright ©2021 Todos os direitos reservados.
        </p>
    </div>
    <div class="c-purple text-center container">
        <p class="m-0 p-0">
            <strong>Unidade Shopping Bela Vista:</strong>
        </p>
        <p class="p-0 m-0">
            <a class="nav-link c-purple" href="https://goo.gl/maps/hPdZW7mGMkGCvq8e8" target="_blank">
                Al. Euvaldo Luz, 92 – Shopping Bela Vista, Piso L2 – Loja L 31.2 - Horto Bela Vista, Salvador/BA.
            </a>
        </p>

        <div class="mt-3">
            <p class="m-0 p-0">
                <strong>Unidade Shopping Bela Vista:</strong>
            </p>
            <p class="p-0 m-0">
                <a class="nav-link c-purple" href="https://goo.gl/maps/hPdZW7mGMkGCvq8e8" target="_blank">
                    Al. Euvaldo Luz, 92 – Shopping Bela Vista, Piso L2 – Loja L 31.2 - Horto Bela Vista, Salvador/BA.
                </a>
            </p>
        </div>
        <div class="mt-3">
            <p class="m-0 p-0">
                <strong>Central Freelaser <a class="nav-link c-purple" href="tel:(71) 3039-0007" target="_blank">(71) 3039-0007</a></strong>
            </p>
        </div>
    </div>
</footer>